.h2 {
    border: 5px solid orchid;
    padding: .4pc;
    background-color: rgb(238, 248, 97);
}

.buttons {
    position: fixed;
    width: fit-content;
    bottom: 5pc;
    margin: 0 auto;
    left: 0;
    right: 0;
}

button {
    border: 2px solid green;
    border-radius: 20pt;
    margin: 1px;
    width: 3pc;
}